---
http_interactions:
- request:
    method: get
    uri: https://api.pro6pp.nl/v1/autocomplete?auth_key=123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ&format=json&nl_fourpp=2564
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2776235b8027ba756537335447690390
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","results":[{"nl_fourpp":2564,"city":"''s-Gravenhage","municipality":"''s-Gravenhage","province":"Zuid-Holland","areacode":"070","lat":52.06703,"lng":4.30274}]}'
  recorded_at: Mon, 26 Aug 2019 23:41:17 GMT
- request:
    method: get
    uri: https://api.pro6pp.nl/v1/autocomplete?auth_key=123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ&format=json&nl_fourpp=2564
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 2776235b8027ba756537335447690390
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","results":[{"nl_fourpp":2564,"city":"''s-Gravenhage","municipality":"''s-Gravenhage","province":"Zuid-Holland","areacode":"070","lat":52.06703,"lng":4.30274}]}'
  recorded_at: Mon, 26 Aug 2019 23:41:18 GMT
recorded_with: VCR 5.0.0
