---
http_interactions:
- request:
    method: get
    uri: http://api.pro6pp.nl/v1/autocomplete?auth_key=tflVGfhmU1IGzlsw&format=xml&nl_fourpp=2564&pretty=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Alternate-Protocol:
      - 80:quic,80:quic
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n  <status>ok</status>\n
        \ <results>\n    <result>\n      <nl_fourpp>2564</nl_fourpp>\n      <city>'s-Gravenhage</city>\n
        \     <municipality>'s-Gravenhage</municipality>\n      <province>Zuid-Holland</province>\n
        \     <areacode>070</areacode>\n      <lat>52.068</lat>\n      <lng>4.25724</lng>\n
        \   </result>\n  </results>\n</response>\n"
  recorded_at: Fri, 13 Sep 2013 15:02:49 GMT
- request:
    method: get
    uri: http://api.pro6pp.nl/v1/autocomplete?auth_key=tflVGfhmU1IGzlsw&format=xml&nl_fourpp=2564&pretty=True
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Alternate-Protocol:
      - 80:quic,80:quic
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<response>\n  <status>ok</status>\n
        \ <results>\n    <result>\n      <nl_fourpp>2564</nl_fourpp>\n      <city>'s-Gravenhage</city>\n
        \     <municipality>'s-Gravenhage</municipality>\n      <province>Zuid-Holland</province>\n
        \     <areacode>070</areacode>\n      <lat>52.068</lat>\n      <lng>4.25724</lng>\n
        \   </result>\n  </results>\n</response>\n"
  recorded_at: Fri, 13 Sep 2013 15:02:49 GMT
recorded_with: VCR 2.4.0
