---
http_interactions:
- request:
    method: get
    uri: https://api.pro6pp.nl/v1/autocomplete?auth_key=123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ&format=json&nl_sixpp=2564AZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 942e6792a1d65bbe75c8032b3a20f250
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","results":[{"nl_sixpp":"2564AZ","street":"Laan van Meerdervoort","city":"''s-Gravenhage","municipality":"''s-Gravenhage","province":"Zuid-Holland","streetnumbers":"1096-1126","lat":52.067554,"lng":4.247434,"areacode":"070"}]}'
  recorded_at: Mon, 26 Aug 2019 23:41:17 GMT
- request:
    method: get
    uri: https://api.pro6pp.nl/v1/autocomplete?auth_key=123456789aBcDeFgHiJkLmNoPqRsTuVwXyZ&format=json&nl_sixpp=2564AZ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Cloud-Trace-Context:
      - 942e6792a1d65bbe75c8032b3a20f250
    body:
      encoding: ASCII-8BIT
      string: '{"status":"ok","results":[{"nl_sixpp":"2564AZ","street":"Laan van Meerdervoort","city":"''s-Gravenhage","municipality":"''s-Gravenhage","province":"Zuid-Holland","streetnumbers":"1096-1126","lat":52.067554,"lng":4.247434,"areacode":"070"}]}'
  recorded_at: Mon, 26 Aug 2019 23:41:17 GMT
recorded_with: VCR 5.0.0
